html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 80%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

html {
  height: 100%;
}

body {
  font-size: 62.5%;
  font-family: Helvetica, arial, sans-serif;
  font-size: 1.2em;
  color: white;
}

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

canvas {
  position: relative;
  top: 0px;
  left: 0px;
}

.form-section {
  position: absolute;
  display: none;
  z-index: 1;
  width: 480px;
  height: 320px;
  top: 0px;
  left: 0px;
  background-image: url("/assets/img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-section .btn-submit {
  background-color: #DDC001;
  width: 100px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 0 auto;
  display: block;
<<<<<<< HEAD
  margin-top: 20px;
=======
  font-size: 2em;
  margin-top: 5px;
>>>>>>> 5ada6c0921165352d30b65527c7a22285582dd36
}

.form-section h3 {
  margin: 0 auto;
  text-align: center;
  color: #DEC100;
  font-size: 20px;
  font-family: Helvetica, arial, sans-serif;
}

.form-section .score-message {
  font-family: Helvetica, arial, sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 5px;
}

.form-section .name-label {
  display: none;
}

.form-section #inputName {
  border-radius: 5px;
  margin-top: 10px;
  padding: 7px;
  border: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#itemAddForm {
  display: inline;
}

.highscore-section {
  width: 480px;
  height: 100px;
  padding-top: 150px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  line-height: 25px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
